@import '../../../styles/customMediaQueries.css';

.root {
  display: flex;
  flex-direction: column;
  margin-bottom: 48px;
}

.heading {
  composes: p from global;
  font-weight: var(--fontWeightBold);
  margin: 0 0 12px 0;

  padding-top: 4px;
  padding-bottom: 2px;

  @media (--viewportMedium) {
    margin: 0 0 0 0;
    padding-top: 5px;
    padding-bottom: 3px;
  }
}

.formRow {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 100%;
  margin-top: 24px;

  @media (--viewportSmall) {
    flex-wrap: nowrap;
  }
}

.field {
  width: 100%;
  margin-top: 0;

  @media (--viewportSmall) {
    flex: 1;
    min-width: 0;
    width: auto;
  }
}

.fieldFullWidth {
  width: 100%;
  margin-top: 24px;
}

.locationField {
  width: 100%;
  margin-top: 24px;
}

.locationInput {
  flex-grow: 1;

  /* Safari bugfix: without this Safari will print placeholder to a wrong place */
  &::-webkit-input-placeholder {
    line-height: normal;
  }
}

.locationIcon {
  display: none;
}

.locationPredictions {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  background-color: var(--marketplaceColor);
  border-bottom-left-radius: var(--borderRadius);
  border-bottom-right-radius: var(--borderRadius);
  box-shadow: var(--boxShadowPopup);
  z-index: calc(var(--zIndexPopup) + 1);
}
